<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a PECI</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
<table width="100%" style="background-color: #f4f4f4; padding: 20px;">
    <tr>
        <td align="center">
            <table width="600px"
                   style="background-color: #ffffff; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif;">
                <tr>
                    <td style="background-color: #7A1F38; color: #ffffff; text-align: center; padding: 20px;">
                        <h1 style="margin: 0; font-size: 24px;">Plataforma de Evaluación Ciudadana</h1>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        <p style="font-size: 16px; color: #333333; line-height: 1.6; margin: 0 0 15px;">
                            Hola,
                        </p>
                        <p style="font-size: 16px; color: #333333; line-height: 1.6; margin: 0 0 15px;">
                            Gracias por participar en la evaluación de una institución de gobierno. Hemos recibido su
                            comentario y este será tomado en cuenta para mejorar la calidad de los servicios públicos.
                        </p>
                        <p style="font-size: 16px; color: #333333; line-height: 1.6; margin: 0 0 15px;">
                            Para que pueda realizar un seguimiento de sus comentarios y acceder a nuestra plataforma,
                            hemos creado una cuenta para usted. A continuación, encontrará su contraseña temporal:
                        </p>
                        <div style="background-color: #f4f9ff; padding: 15px; border-radius: 5px; text-align: center; margin: 20px 0;">
                            <p style="font-size: 20px; font-weight: bold; color: #333333; margin: 0;">{password}</p>
                        </div>
                        <p style="font-size: 16px; color: #333333; line-height: 1.6; margin: 0 0 15px;">
                            Recomendamos cambiar su contraseña la próxima vez que inicie sesión para garantizar la
                            seguridad de su cuenta.
                        </p>
                        <p style="font-size: 16px; color: #333333; margin: 0 0 15px;">
                            Haga clic en el siguiente enlace para iniciar sesión en su cuenta:
                        </p>
                        <p style="text-align: center; margin: 0;">
                            <a href="{url}"
                               style="display: inline-block; background-color: #D7B161; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px; font-size: 16px;">
                                Iniciar sesión
                            </a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #952543; color: #ffffff; text-align: center; padding: 10px; font-size: 14px; font-weight: bold;">
                        © 2024 Gobierno de Quintana Roo - Plataforma de Evaluación Ciudadana
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
